@import '../../Shared/CommonSytle/_variable'
@import '../../Shared/CommonSytle/_media'
@import '../../Shared/CommonSytle/_mixins'

.houseRend__content
    text-align: center
    +commonContent()

.card__title
    overflow: hidden
    color : $background
    font-weight: bold !important
    font-size: 2rem

.houseRent__cardBody
    font-weight: bold
    color : $iconColor

.houseRent__cardBody
    display: flex
    justify-content : space-between

.cardIcon
    color : $iconColor
    margin-right: 3px

.card__footer
    display: flex
    justify-content : space-between
    align-items: center
    margin: 20px 0

.card__price
    font-size : 30px
    font-weight: bold
    color : $background

.card__button
    +button(10px, 15px)

@media   ( max-width: $md  )
    .houseRend__content
        h1
            font-size: 2rem
