@import '../../Shared/CommonSytle/_variable'
.nav__item
    font-weight: 600

.navigation__btn
    background-color: $background !important
    border: none !important
    &:focus
        outline: none !important
        box-shadow: none !important
