@import '../../Shared/CommonSytle/_variable'
@import '../../Shared/CommonSytle/_media'
@import '../../Shared/CommonSytle/_mixins'

footer
    height: 100%
    background : $background
    display : flex !important
    align-items: center !important
    padding : 10% 0

ul
    list-style-type: none

.footer__details
    color : #fff
    li
        cursor: pointer

.footer__icon
    display: flex
    li
        margin: 20px 15px 20px 0
        cursor: pointer

ul
    li
        font-size : 16px
        font-weight: 600
